body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

section{
    display: flex;
    flex-direction: column;
}

.game-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    width: 100px;
}

.board {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 5px;
    background-color: white;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    color: white;
    background-color: black;
}