body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'VT323', monospace;
    margin: 0;
    /* decrease the contrast a bit, eliminate color fringing and make the font look a bit smoother: */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

section {
    display: flex;
    flex-direction: column;
}

.header-bar {
    width: 100%;
}

.score {
    font-size: xxx-large;
    margin: 0;
}

.game-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
}

button {
    display: inline-flex;
    height: 40px;
    width: 120px;
    border: 2px solid #BFC0C0;
    background-color: black;
    color: #BFC0C0;
    /* text-transform: uppercase; */
    text-decoration: none;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition-duration: 0.2s;
}

button:hover {
    background-color: #BFC0C0;
    color: black;
}

button:active {
    background-color: black;
    color: #BFC0C0;
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

img {
    max-width: 100%;
    max-height: 100%;
}

#mute {
    /* background-color: #BFC0C0; */
    width: 40px;
}

#mute:hover {
    background-color: #7d7d7d;
    color: black;
}

.board {
    font-family: 'Indie Flower', cursive;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 5px;
    background-color: white;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: xxx-large;
    color: white;
    background-color: black;
    transition-duration: 0.2s;
}

.empty:hover {
    background-color: rgb(40, 40, 40);
    cursor: pointer;
}

.message-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.scores {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.scores div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score {
    width: 50px;
    height: 50px;
    border: solid white 2px;
    border-radius: 15%;
}

#player-X-score {
    background-color: rgb(55, 41, 72);
}

#player-O-score {
    background-color: rgb(255, 202, 202);
}

p {
    text-align: center;
}

.X {
    background-color: rgb(55, 41, 72);
}

.O {
    background-color: rgb(255, 202, 202);
}

.X-hover:hover:after {
    opacity: 0.5;
    content: "X";
}

.O-hover:hover:after {
    opacity: 0.5;
    content: "O";
}

.winning-tile {
    filter: brightness(110%);
    animation: textgrow 1s infinite;
}

@keyframes textgrow {
    50% {font-size: 80px;}
}