body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'VT323', monospace;
    margin: 0;
    /* decrease the contrast a bit, eliminate color fringing and make the font look a bit smoother: */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

section {
    display: flex;
    flex-direction: column;
}

.header-bar {
    position: fixed;
    top: 0;
}

.score {
    font-size: xxx-large;
    margin: 0;
}

.game-buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.button {
    width: 100px;
}

.board {
    font-family: 'Indie Flower', cursive;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 5px;
    background-color: white;
}

.tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    font-size: xxx-large;
    color: white;
    background-color: black;
    transition-duration: 0.15s;
}

.empty:hover {
    background-color: rgb(40, 40, 40);
    cursor: pointer;
}

.message-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
}

.scores {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.scores div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score {
    width: 50px;
    height: 50px;
    border: solid white 2px;
    border-radius: 15%;
}

#player-X-score {
    background-color: rgb(55, 41, 72);
}

#player-O-score {
    background-color: rgb(255, 202, 202);
}

p {
    text-align: center;
}


.X {
    background-color: rgb(55, 41, 72);
}

.O {
    background-color: rgb(255, 202, 202);
}

.X-hover:hover:after {
    opacity: 0.5;
    content: "X";
}

.O-hover:hover:after {
    opacity: 0.5;
    content: "O";
}

.winning-tile {
    filter: brightness(110%);
    animation: textgrow 1s infinite;
}

@keyframes textgrow {
    50% {font-size: 80px;}
  }